@{
    ViewData["Title"] = "MainPage";
}

<div class="text-center">
    <h1 id="head" class="display-4">Query</h1>
</div>
<div class="text-center">

</div>

@*<script>document.getElementById("head").innerHTML = sessionStorage.getItem("user_name")</script>*@